.listItem {
  display: flex;
  border: 1px solid black;
  border-radius: 6px;
  width: 374px;
  height: 90px;
  padding-left: 8px;
  justify-content: space-between;
  background-color: rgba(110, 110, 110, 0.226);
}
.textContainer {
  /* margin-left: 30px; */
  margin-top: 18px;
  max-width: 230px;
}
.text {
  font-size: 20px;
  border: none;
  /* text-align: center; */
  background-color: transparent;
}
.itemCont {
  display: flex;
}
