.wrapper {
  display: flex;
  gap: 28px;
  padding-top: 12px;
  padding-right: 14px;
}
.btn {
  margin-top: 2px;
  display: flex;
  background: transparent;
  color: white;
  border: none;
  text-decoration: none;
}
.btn:hover {
  color: gold;
}
.link {
  text-decoration: none;
}
