.wrapper {
  width: 374px;
  height: 218px;
  margin-left: 12px;
  margin-top: 12px;
  background-color: rgba(110, 110, 110, 0.226);
  border-radius: 6px;
  border: 1px solid black;
}
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
}
.input {
  height: 30px;
  background-color: white;
  border-radius: 4px;
  border: 1px black solid;
}
.formLable {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: bold;
}
.formBtn {
  background-color: black;
  height: 40px;
  width: 160px;
  margin: 0 auto;
  margin-top: 16px;
  color: white;
  font-size: 20px;
  border-radius: 6px;
}
.formBtn:hover {
  color: gold;
}
.formSpan {
  padding-top: 6px;
}
